@import "tailwindcss";

:root {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
}

body {
  background: radial-gradient(circle at 50% -20%, #1e1b4b 0%, #09090b 80%);
  color: white;
  min-height: 100vh;
}

/* Custom scrollbar for that pro feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #09090b;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 10px;
}